
.contenedor{
	width:800px ;
	height:400px; ;
	background-color:#39C746 ;
	position: relative;

}
.lineasuperior{
	width:770px ;
	height: 5px;
	background-color:white ;
	position:absolute;
	top:15px;
	left: 15px;
}

.lineaderecha{
	width:5px ;
	height:370px;
	background-color:white ;
	position:absolute;
	top:15px;
	left: 780px;
}

.lineainferior{
	width:770px ;
	height: 5px;
	background-color:white ;
	position:absolute;
	top:380px;
	left: 15px;

}
.lineaizquierda{
	width:5px ;
	height:370px;
	background-color:white ;
	position:absolute;
	top:15px;
	left:15px;

}
.suparco{
	width:123.3px ;
	height:5px;
	background-color:white ;
	position:absolute;
	top: 138px;
	left:20px;

}

.infarco{
	width:123.3px ;
	height:5px;
	background-color:white ;
	position:absolute;
	top: 261.6px;
	left:20px;

}


.derecharco{
	width:5px ;
	height:128.5px;
	background-color:white ;
	position:absolute;
	top: 138px;
	left:143.3px;

}

.suparco2{
	width:123.3px ;
	height:5px;
	background-color:white ;
	position:absolute;
	top: 138px;
	left:656.7px;


}

.infarco2{
	width:123.3px ;
	height:5px;
	background-color:white ;
	position:absolute;
	top: 261.6px;
	left:656.7px;


}


.izquirdarco2{
	width:5px ;
	height:128.5px;
	background-color:white ;
	position:absolute;
	top: 138px;
	left:656.7px;

}

.circulomedio{
	width: 150px;
     height: 150px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     border: 5px solid white;
     position: absolute;
     top: 125px;
     left:325px;

}

.circulo1{
	width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: white;
     position: absolute;
     top: 130px;
     left:140px;


}
.circulo2{
	width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: white;
     position: absolute;
     top: 90px;
     left:425px;

}

.circulo3{
	width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: white;
     position: absolute;
     top:230px;
     left:630px;

}
.fa-futbol-o{
	position: absolute;
	top: 130px;
	left: 140px;
	font-size:20px;

}

.pelota2{
position:absolute;
	top: -40px;
	left: 285px;
	font-size:20px;


}
.pelota3{
	position:absolute;
	top:100px;
	left: 490px;
	font-size:20px;


}